:root {
	--success-bg-color: #84f1c9;
	--success-color: #1b7052;
	--info-bg-color: #eaeaec;
	--info-color: #696b79;
	--error-bg-color: #fcc5c5;
	--error-color: #dc3545;
	--warning-bg-color: #ffe7c5;
	--warning-color: #ff9204;
}

span {
	font-weight: 900;
}

.alert {
	border-radius: 0.5rem;
	padding: 1.1rem;
	margin: 1rem 0;
}

.alert-success {
	background-color: var(--success-bg-color);
	color: var(--success-color);
}

.alert-info {
	background-color: var(--info-bg-color);
	color: var(--info-color);
}

.alert-error {
	color: var(--error-color);
	background-color: var(--error-bg-color);
}

.alert-warning {
	color: var(--warning-color);
	background-color: var(--warning-bg-color);
}

.alert .fas {
	margin-right: 1rem;
}

iframe {
	width: 55%;
}


@media (max-width: 1024px) {
	.flex-container .content-section {
		width: 80%;
		margin-left: 10rem;
	}

	iframe {
		width: 100%;
	}
}

@media (max-width: 768px) {
	.flex-container aside {
		display: none;
	}

	.flex-container .content-section {
		width: 100%;
		margin-left: 0;
	}

	.flex-container section {
		width: 100%;
		margin: 0 auto;
	}
}